%h1= @movie.title
.jumbotron
  .row
    .col-md-8
      %h1= @movie.rating
      = @movie.description
    .col-md-4
      = @movie.poster_image
    .col-xs-12
      %p.lead= @movie.plot
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
